.App-content {
  height: 100%;
  width: 100%;
  margin-top: 76px;
  margin-bottom: 56px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
